@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

$green:red;
$black:#222;
$white:#fff;
$light-color:#666;
$light-bg:#f3f3f3;
$border:.1rem solid rgba(0,0,0,.1);
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap:1.5rem;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section{
  padding:3rem 9%;
}

.heading{
  background:url(../image/heading-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;

  h1{
    color:$black;
    font-size: 4rem;
  }

  p{
    padding-top: 1rem;
    font-size: 2rem;
    color:$light-color;

    a{
      color:$black;
      padding-right: .5rem;

      &:hover{
        color:$green;
      }
    }
  }
}

.title{
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding:1.2rem 0;
  border-bottom: $border;
  color:$black;

  span{
    color:$green;
    padding-left: .7rem;
  }

  a{
    margin-left: auto;
    color:$light-color;
    font-size: 1.5rem;

    &:hover{
      color:rgb(224, 5, 5);
    }
  }
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.8rem 3rem;
  background: red;
  
  color:$white;
  font-size: 1.7rem;
  cursor: pointer;

  &:hover{
    background:$black;
  }
}

.header{
  position: fixed;
  top:0; left:0; right:0;
  z-index: 1000;
  background: $white;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;

  .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:$black;

    i{
      color:$black;
      padding-right: .5rem;
    }
  }

  .navbar{

    a{
      font-size: 1.7rem;
      color:$light-color;
      margin:0 1rem;

      &:hover{
        color:red;
      }
    }
  }

  .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color:$light-color;

    &:hover{
      color:red;
    }
  }

  .search-form{
    position:absolute;
    top:-115%; right:2rem;
    width:50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height:5.5rem;
    box-shadow: $box-shadow;
    background:$white;

    &.active{
      top:115%;
    }

    input{
      height: 100%;
      width:100%;
      padding:0 1.2rem;
      font-size: 1.6rem;
      color:$black;
      text-transform: none;
    }

    label{
      font-size: 2.5rem;
      margin-right: 1.7rem;
      cursor: pointer;
      color:$light-color;

      &:hover{
        color:red;
      }
    }
  }
}

  
#menu-btn{
  display: none;
}

@keyframes fadeLeft {
  0%{
    transform:translateX(-5rem);
    opacity:0;
  }
}

@keyframes fadeUp {
  0%{
    transform:scale(.5);
    opacity:0;
  }
}

.home{
  padding-top: 37rem;
  background:url(../image/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  .slide-container{

    .slide{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap:1.5rem;
      display:none;

      &.active{
        display:flex;
      }

      .content{
        flex:1 1 40rem;
        animation:fadeLeft .4s linear .4s backwards;

        span{
          color:$light-color;
          font-size: 2.5rem;
        }

        h3{
          font-size: 6rem;
          color:$black;
          padding:.5rem 0;
        }
      }

      
    }
  }
}



.products .box-container{
  @include grid(25rem);

  .box{
    position: relative;
    background:$light-bg;
    text-align: center;
    overflow: hidden;

    &:hover .icons{
      top:0;
    }

    .icons{
      position: absolute;
      top:-105%; left:0;
      height: 30rem;
      width:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(243, 243, 243, .8);
      gap:1rem;

      a{
        font-size: 2rem;
        height:5rem;
        width:5rem;
        line-height:5rem;
        background:$white;
        box-shadow: $box-shadow;
        color:$light-color;

        &:hover{
          background: rgb(73, 199, 89);
          color:$white;
        }
      }
    }

    .image{
      height:30rem;
      width:100%;
      overflow: hidden;

      img{
        height: 100%;
        width:100%;
        object-fit: cover;
      }
    }

    .content{
      padding:1.5rem;

      h3{
        font-size: 2rem;
        color:$black;
      }

      .price{
        font-size: 2rem;
        color:$black;
        padding:1rem 0;
      }

      .stars i{
        font-size: 1.7rem;
        color:$black;
      }
    }
  }
}

.about{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;

  .image{
    flex:1 1 40rem;

    img{
      width:100%;
    }
  }

  .content{
    flex:1 1 40rem;

    span{
      color:red;
      font-size: 2.5rem;
    }

    h3{
      color:$black;
      font-size: 3rem;
      padding-top: .5rem;
    }

    p{
      color:$light-color;
      font-size: 1.4rem;
      line-height: 2;
      padding:1rem 0;
    }
  }
}



.contact{

  .icons-container{
    @include grid(29rem);

    .icons{
      text-align: center;
      border:$border;
      padding:2rem;

      i{
        height: 6rem;
        width: 6rem;
        line-height: 6rem;
        font-size: 2.5rem;
        background:red;
        color:$white;
        border-radius: 50%;
      }

      h3{
        color:$black;
        font-size: 2rem;
        padding:1rem 0;
      }

      p{
        color:$light-color;
        font-size: 1.5rem;
        line-height: 2;
      }
    }
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-top: 2rem;

    form{
      padding:2rem;
      border:$border;
      flex:1 1 40rem;

      h3{
        font-size: 2.5rem;
        padding-bottom: 1rem;
        color:$black;
      }

      .inputBox{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;

        input{
          width:49%;
        }
      }

      .inputBox .box,
      textarea{
        padding:1rem 1.2rem;
        font-size: 1.6rem;
        border:$border;
        color:$black;
        text-transform: none;
        margin:.7rem 0;
      }

      textarea{
        width:100%;
        height:15rem;
        resize: none;
      }
    }

    
  }
}

.footer{
  background: $light-bg;

  .box-container{
    @include grid(25rem);
  }
    
.credit{
  text-align: center;
  background:$black;
  color:$white;
  font-size: 2rem;
  padding-bottom: 9rem;
 }
}


// media queries 

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  .header{
    padding:2rem;
  }

  section{
  padding:3rem 2rem;
  }
}

@media (max-width:768px){

  #menu-btn{
    display: inline-block;
  }

  .header{

    .search-form{
      width: 100%;
      right:0;
      border-radius: 0;

      &.active{
        top:99%;
        border-top: $border;
        border-bottom: $border;
      }
    }

    .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background:$white;
      border-top: $border;
      border-bottom: $border;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }

      a{
        margin:1.5rem;
        padding:1.5rem;
        background: $light-bg;
        font-size: 2rem;
        display: block;
        border-radius: .5rem;
      }
    }
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .home .slides-container .slide .content h3{
    font-size: 5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }

}